<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title> TO DO List - Angular </title>
  <meta charset="utf-8">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
  <script src="assets/js/angular.js" type="text/javascript"></script>
  <script src="assets/js/todo.js" type="text/javascript"></script>
</head>
<body ng-controller="ToDoCtrl">
  <header class="page-header">
    <h1>
      {{todo.user}} To Do List
      <span class="label label-default">{{ todo.items.length }}</span>
    </h1>
  </header>
  <div class="panel">
    <section class="input-group">
      <input class="form-control" />
      <span class="input-group-btn">
        <button class="btn btn-default">Add</button>
      </span>
    </section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todo.items">
          <td>{{item.action}}</td>
          <td><input type="checkbox" ng-model="item.done"/></td>
          <td>{{item.done}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
